<!DOCTYPE html>
<!-- sử dụng layout có dinamic động-> thay toàn bộ nội dung của list này bởi 1 frangment có tên dinamic trong layout
     -> đưa thẻ main vào vùng động trong layout đó -->
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
<main>
    <div class="card">
        <div class="card-header bg-primary text-center">
            YOUR ORDERS PURCHASED
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Oder No.</th>
                    <th>Oder Date</th>
                    <th>Shipping Address</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order,state:${orders}">
                    <td>[[${state.index}]]</td>
                    <td>[[${order.id}]]</td>
                    <td>[[${order.createDate}]]</td>
                    <td>[[${order.address}]]</td>
                    <td>
                        <a th:href="@{/order/detail/${order.id}}" class="btn btn-default"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>

</html>