<div class="container">
    <nav class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a th:href="@{/product/list}" class="nav-link px-2 text-white">Home</a></li>
                    <th:block th:if="${#request.remoteUser}">
                        <li>
                            <a th:href="@{/security/logoff}" class="nav-link px-2 text-white">Sign Out</a>
                        </li>
                        <li>
                            <a th:href="@{/order/list}" class="nav-link px-2 text-white">Your Orders</a>
                        </li>
                        <li th:if="${#request.isUserInRole('DIRE') or #request.isUserInRole('STAF')}">
                            <a th:href="@{/assets/admin/index.html}" class="nav-link px-2 text-white">Administration</a>
                        </li>
                    </th:block>
                    <th:block th:unless="${#request.remoteUser}">
                        <li><a th:href="@{/security/login/form}" class="nav-link px-2 text-white">Sign In</a></li>
                    </th:block>

                </ul>
                <ul th:if="${#request.remoteUser}" style="list-style: none">
                    <li><a href="#" class="nav-link px-2 text-white">Xin chào [[${#request.remoteUser}]]</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>